<div class="container mt-5" style="max-width: 576px;">
  <h1>Something went wrong... please try again later...</h1>
  <div class="buttons mt-3">
    <a href="/"><button class="btn btn-primary">Back</button></a>
  </div>
</div>